.gallery {
    padding: 50px 70px 148px;

    &__title {
        @include Alethia;
        text-transform: uppercase;
        font-size: 44px;
        line-height: 120%;
        text-align: center;
        margin: 0 auto 30px;
    }

    &__pictures {
        display: grid;
        grid-template-areas:
            'first second'
            'first third';
        grid-template-rows: 50%;
        grid-template-columns: 66% 1fr;
        gap: 20px 22px;
    }

    &__first {
        grid-area: first;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__second {
        grid-area: second;
        width: 100%;
        object-fit: cover;
    }

    &__third {
        grid-area: third;
        width: 100%;
        object-fit: cover;
    }
}