.projects {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 26px 70px 179px;
    position: relative;

    &__card {
        width: 74.6154%;
        padding: 25px 23px 50px 25px;
        box-sizing: border-box;
        border: 1px solid rgba(7, 28, 53, 0.1);
        margin-bottom: 90px;

        &:last-of-type {
            margin: 17px 0 0;
        }
    }


    .card-project__caption {
        padding: 28px 47px;
        backdrop-filter: blur(7.1134px);
    }


}