.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px white;
  container-type: inline-size;
  container-name: card;

  &__ana {
    width: 100%;
    aspect-ratio: 11/5;
    padding: 0px 65px;
    box-sizing: border-box;
    -webkit-box-shadow: inset 67px 0px 30px -28px white,
      inset -67px 0px 30px -28px white;
    -moz-box-shadow: inset 67px 0px 30px -28px white,
      inset -67px 0px 30px -28px white;
    box-shadow: inset 67px 0px 30px -28px white,
      inset -67px 0px 30px -28px white;
    border: 1px solid white;
  }

  &__slide {
    width: calc(100% - (65px));
    aspect-ratio: 1.85/1;
    overflow: hidden;
    padding-right: 65px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
    display: flex;
    align-items: start;
    z-index: -1;
  }

  &__title {
    @include Alethia;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    grid-area: title;
    margin: 0;
  }

  &__number {
    @include Lotto-light;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    justify-self: end;
  }

  &__arrow {
    width: 50px;
    height: 20px;
    display: block;
    align-self: center;
    border: none;
    background-image: url(../../images/slider-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 10px;
    position: absolute;
    top: 50%;
    line-height: 50px;
    cursor: pointer;
  }

  &__arrow_direction_left {
    left: 7px;
  }
  &__arrow_direction_right {
    right: 7px;
  }

  &__arrow_direction_right {
    transform: rotate(180deg);
  }

  &__image {
    aspect-ratio: 1.1/1;
  }

  &__info {
    width: 41.33%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  }

  &__header {
    @include Alethia;
    margin: 0;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__rooms {
    @include Lotto-regular;
    font-size: 16px;
    line-height: 19px;
    padding-left: 30px;
    background-image: url(../../images/bedroom.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  &__description {
    @include Lotto-light;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
  }

  &__price {
    @include Lotto-regular;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
  }
}

@media (max-width: 1439px) {
  .slider {
    &__container {
      padding: 50px 0px 0;
      gap: 10px;
    }
    &__info {
      padding: 15px;
      gap: 10px;
    }
  }
}

@media (max-width: 767px) {
  .slider {
    &__container {
      padding: 30px 0px 0;
      gap: 0px 0px;
      margin-top: 20px;
    }

    &__slide {
      flex-direction: column;
      align-items: center;
    }

    &__image {
      width: 80%;
    }
  }
}

// @container (max-width: 700px) {
//   .slider__slide {
//     width: 200%;
//   }
// }
