.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px white;
  container-type: inline-size;
  container-name: card;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__ana {
    width: 100%;
    aspect-ratio: 11/5;
    padding: 0px 65px;
    box-sizing: border-box;
    // -webkit-box-shadow: inset 67px 0px 30px -28px white,
    //   inset -67px 0px 30px -28px white;
    // -moz-box-shadow: inset 67px 0px 30px -28px white,
    //   inset -67px 0px 30px -28px white;
    // box-shadow: inset 67px 0px 30px -28px white,
    //   inset -67px 0px 30px -28px white;
    // border: 1px solid white;
    margin-top: 18px;
  }

  &__slide {
    width: calc(100% - (130px));
    aspect-ratio: 750/400;
    overflow: hidden;
    padding-right: 103px;

    position: absolute;
    transition: all 1s;

    z-index: 0;
  }

  &__title {
    @include Alethia;
    font-size: $font-30;
    line-height: 40px;
    text-transform: uppercase;
    grid-area: title;
    margin: 0;
    margin-left: 65px;
  }

  &__number {
    @include Lotto-light;
    font-size: $font-30;
    line-height: 40px;
    text-transform: uppercase;
    justify-self: end;
    color: $grey;
    margin-right: 65px;

    &_active {
      color: $dark-blue;
    }
  }

  &__arrow {
    width: 50px;
    height: 20px;
    display: block;
    align-self: center;
    border: none;
    background-image: url(../../images/slider-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 10px;
    position: absolute;
    top: 50%;
    line-height: 50px;
    cursor: pointer;
  }

  &__arrow_direction_left {
    left: 7px;
  }
  &__arrow_direction_right {
    right: 7px;
  }

  &__arrow_direction_right {
    transform: rotate(180deg);
  }

  &__image {
    aspect-ratio: 1.1/1;
    width: 100%;
  }

  &__info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
    width: 100%;
  }

  &__header {
    @include Alethia;
    margin: 0;
    font-size: $font-30;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__rooms {
    @include Lotto-regular;
    font-size: $font-16;
    line-height: 19px;
    padding-left: 30px;
    background-image: url(../../images/bedroom.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  &__description {
    @include Lotto-light;
    margin: 0;
    font-size: $font-16;
    line-height: 24px;
    color: $grey;
  }

  &__price {
    @include Lotto-regular;
    font-size: $font-16;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
  }
}

@media (max-width: 1439px) {
  .slider {
    &__container {
      padding: 50px 0px 0;
      gap: 10px;
    }
    &__info {
      padding: 15px;
      gap: 10px;
    }
  }
}

@media (max-width: 767px) {
  .slider {
    &__container {
      padding: 30px 0px 0;
      gap: 0px 0px;
      margin-top: 20px;
    }

    &__slide {
      flex-direction: column;
      align-items: center;
    }
  }
}

.units-card {
  display: grid;
  grid-template-columns: 58.66% 41.33%;
  width: 100%;
  aspect-ratio: 750/400;
}

@container (max-width: 780px) {
  .units-card {
    grid-template-columns: 53% 47%;
    // grid-template-columns: 100%;
    // grid-template-rows: min-content min-content;
  }

  .slider__ana {
    //   aspect-ratio: 1/1.5;

    padding: 0px 35px;
  }
  .slider__slide {
    width: calc(100% - (70px));
    padding-right: 73px;
  }
}

@container (max-width: 700px) {
  .units-card {
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
    align-items: center;
  }

  .slider__ana {
    aspect-ratio: 1/1.5;
  }
  .slider__slide {
    aspect-ratio: 1/1.7;
  }
}

@container (max-width: 450px) {
  .units-card {
  }

  .slider__ana {
    aspect-ratio: 1/1.7;
  }
  .slider__slide {
    aspect-ratio: 1/2;
  }
}
